.vagrant
/config.json
/_build
/toolchain

# Default path for the mongo import/export; easy to accidentally commit:
mongo-snapshot

# Binary output of capnp compile
*.cgr

# Coverage profiles and the like
*.out

# Used by the lego (go let's encrypt) cli tool:
.lego

# temporary databases:
*.db
*.sqlite3

env.sh
